.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: cover;
    margin-left: 16px;
  }
}
