.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 40px;
  }
}
