.places__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 12px;
  color: #AAA;
}

@media screen and (max-width: 1023px) {
  .places__url-heading {
    line-height: 12px;
  }
}
